.btn_success{
    background-color: #5CB85C;
    border:none;
    color: #f4f4f4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    border-radius:5px;
    margin: 7px;
  }

 .search_weather_input{
    padding: 15px;
    margin: 8px 0;
    border:none;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    margin: 15px 5px 0 0;
}



